.noun button {
    background: none;
    border: none;
}

.noun a {
    display: block;
    text-decoration: none;
}

.noun .content {
    position: absolute;
    display: none; 
}

.noun .content.show {
    display: block;
}
